#degC {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 100px;
    line-height: 1em;
}
#sym {
    vertical-align: top;
    text-align: left;
    font-size: 20px;
}